body {
    font-family: "Poppins", sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 30px;
}

.title {
    text-align: center;
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 25px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    padding: 0 20px;
}

.category-card {
    background: white;
    padding: 15px;
    border-radius: 14px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    transition: 0.3s;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: cover;
}

.category-card h3 {
    margin-top: 12px;
    font-size: 1.2rem;
    color: #333;
}
