
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #333;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a.active {
  font-weight: bold;
}

/* Contact Section */
.contact-section {
  padding: 50px 20px;
  text-align: center;
}

.contact-container {
 display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-left: 250px;
}


.contact-details h3, .contact-form h3 {
  margin-bottom: 10px;
}

.contact-form form input,
.contact-form form textarea {
  width: 93%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 6px;
  border: none;
}

.contact-form form button {
  width: 97%;
  padding: 10px;
  background: #144d83;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.contact-form form button:hover {
  background: #e68900;
}

/* Footer */
.footer {
  background: #222;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  margin-top: 20px;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}
.contact-details, .contact-form {
  background-color: #71bd97;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 400px;
  height: 400px;
}
.contact-form {

}
.contact-details h3, .contact-form h3 {
  margin-bottom: 20px;
  color: #dad9d9;
}

.contact-details p {
  margin:  0;
  font-size: 1rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  resize: none;
}

.contact-form button {
  padding: 12px;
  background-color: #24783d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.3s;
}

.contact-form button:hover {
  background-color: #258f32;
}
